@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "MonoLisa";
    src: url("./assets/fonts/MonoLisa-Regular.woff2");
}
@font-face {
    font-family: "MonoLisaBold";
    src: url("./assets/fonts/MonoLisa-Bold.woff2");
}
body {
  @apply bg-background text-text text-sm slg:text-base font-normal selection:bg-button relative w-full flex flex-col items-center;
  animation: fadein ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.shrink { 
transition: all .2s ease-in-out; 
}
.shrink:hover { 
transform: scale(0.98); 
}
.grow { 
transition: all .2s ease-in-out; 
}
.grow:hover { 
transform: scale(1.01); 
}
